<th:block>
    <footer class="container-fluid text-center">
        <p>Fashion Forum Copyright 2021</p>


<!--        <form class="form-inline"   >Get deals:-->
<!--            <input type="email" class="form-control" size="50" placeholder="Email Address" enctype="multipart/form-data">-->
<!--            <button type="button" class="btn btn-danger">Sign Up</button>-->
<!--        </form>-->
    </footer>

<!--    <footer class="container-fluid text-center">-->
<!--        <p>Fashion Online Store Copyright 2021</p>-->
<!--    </footer>-->


</th:block>