<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <style>

        table{
            margin-top: 10px;
        }

         td{
            padding-left: 50px;
        }
    </style>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Fashion Forum</h1>
        <p>Mission, Vision & Values</p>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="container bg-blur rounded mt-5 mb-4">
        <div th:each="i:${items}" th:object="${i}" class="row mt-3 mb-3">

            <div class="col-5 bg-dark rounded m-auto" style="height: auto; overflow: auto">
                <div   class="mt-3 rounded badge-info">
             <table style="width: 100%">
<!--                 <tr>    <h4 class="mySticky bg-gray text-dark rounded" th:text="*{brand.getName()}">Foods</h4></tr>-->
                 <tr th:text="*{brand.getName()}" >Foods</tr>

<!--                    <tr>-->
<!--                        <th>Picture</th>-->
<!--                        <th>Category</th>-->
<!--                        <th>Added</th>-->
<!--                        <th>Price</th>-->
<!--                    </tr>-->
                 <tr>
                    <td><img class="mr-2" th:src="*{imageUrl}" alt="Image" width="25px" height="25px"></td>
<!--                    <th>-->
<!--                    <span  th:text="|Name: ${i.getName()} Added: ${#dates.format(i.receivedOn,'dd-MMM-yyyy HH:mm')}  Price: ${i.getPrice()} lv|" style="font-size: medium"></span>-->
<!--                    </th>-->

                    <td th:text="${i.getName()}" style="width: 30%"> </td>

                    <td th:text="${#dates.format(i.receivedOn,'dd-MMM-yyyy HH:mm')}"> </td>

                    <td th:text="|${i.getPrice()} lv|" style="font-size: medium"> </td>

                    <td>
                    <div  class="btn-group">
                        <a th:href="@{/items/details/{id}(id=*{id})}"  type="button" class="btn btn-sm btn-outline-secondary">Details</a>
                    </div>
                    </td>
                    <td>
                    <div  class="btn-group">
                        <a th:href="@{/items/delete/{id}(id=*{id})}"  type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                    </div>
                    </td>
                 </tr>
                 </table>
            </div>
            </div>


        </div>
</div>
</div>
<footer>
<th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
